.header__logo {
  background-image: url(../../../images/logo.svg);
  display: flex;
  background-size: cover;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .header__logo {
    min-width: 103.74px;
    min-height: 24.4px;
    margin-left: 8.44vw;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 142px;
    min-height: 33px;
    margin-left: 0;
  }
}