.popup__container {
  margin:0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  position: relative;
}

@media screen and (min-width: 320px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
  }
}

@media screen and (min-width: 768px) {
  .popup__container {
    max-width: 365px;
    max-height: 330px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__container {
    max-width: 430px;
    max-height: 330px;
  }
}