.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 320px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding: 28px 0 0;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    min-height: 74px;
    padding-top: 45px;
  }
}