.login__registered {
	color: #FFFFFF;
	margin: auto;
	color: #FFFFFF;

}

@media screen and (min-width: 320px) {
	.login__registered {
		min-width: 260px;
		max-height: 17px;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}

@media screen and (min-width: 768px) {
	.login__registered {
		margin-top: 15px;
		min-width: 358px;
	}
}